:root {
	--link-visited: #138aeb;
	--link: #91c8f6;
	--text: #fff;
	--lightThemeBlue: #3b61a1;
	--darkThemeBlue: #21365a;
	--backgroundLightTheme: #e0e0e0; 
}

/* Socials Bar */
.setOpacity {
	opacity: 60%;	
	transition: 0.2s;
}
.setOpacity:hover {
	opacity: 100%;
	transition: 0.2s;
}
.setMinSeperator {
	margin: 1vw;
}
.invertSocials {
	
}

/* Footer - Toolbar */

.footerText {
	color: var(--text) !important;
}

/* General Page Content */

.setMiddle {
	justify-content: center;
	margin: 0 auto;
	max-width: 1140px;
}
.title {
	font-weight: bold;
	font-size: x-large;
}
.text {
	font-size: 100%;
	line-height: 24px;
}

/* Wiki */

.container {
    display: flex;
    flex-direction: column;
	align-items: flex-start;
	padding-left: 15%;
	padding-right: 15%;
}
.sidebar .sapMALIText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 5%;
}
.wikiImage {
	max-width: 100%; 
	height: auto;
}

/* Links & Links visited - in general*/

a:link{
	color: var(--link);
}
a:visited{
	color: var(--link-visited);
}

/* Dark Mode - uses hardcoded ids */

html.sapUiTheme-sap_fiori_3_dark .sapMIBar.sapMTB {
	background-color: var(--darkThemeBlue) !important;
}
html.sapUiTheme-sap_fiori_3_dark #container-projectpages---Home--socialsGrouped {
	filter: invert(1) !important;
}

/* Light Mode - uses hardcoded ids */

html.sapUiTheme-sap_belize .sapMIBar.sapMTB  {
	background-color: var(--lightThemeBlue) !important;
}
html.sapUiTheme-sap_belize #container-projectpages---Home--cVRow {
	background-color: var(--backgroundLightTheme) !important;
}