/* Enter your custom styles here */
.setOpacity {
    opacity: 60%;
}
.setOpacity:hover {
    opacity: 100%;
    transition: 1s;
}
.setMinSeperator {
    margin: 1vw;
}
.toolbar {
    background-color: #3b61a1 !important 
}
.setToolbarDarkMode{
    background-color: #21365a !important;
}
.footerText{
    color: #fff !important;
}
.setMiddle {
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
}
.title {
    font-weight: bold;
    font-size: x-large;
}
.cV {
    background-color: #e0e0e0;
}
.borderRadius{
    border-radius: 10%;
}
.text{
    font-size: 100%;
    line-height: 24px;
}
.invertSocials{
    filter: invert(1);
}
/*.bioImage {
    padding: auto;
    margin: 1vw;
}*/