/* ================================== */
/* CSS for control sap.ui.dt/Overlay  */
/* Horizon High Contrast Black theme  */
/* ================================== */

.sapUiDtOverlay {
	--_sap_ui_dt_Overlay_TargetZoneOutlineColor: var(--sapSuccessBorderColor);
	--_sap_ui_dt_Overlay_SelectionOutlineColor: ~'hsl(from var(--sapSuccessBorderColor) h s calc(l - 25))';
	--_sap_ui_dt_Overlay_CuttedBackgroundColor: var(--sapField_PlaceholderTextColor);
	--_sap_ui_dt_Overlay_CuttedBorderColor: ~'hsl(from var(--sapSuccessBorderColor) h s calc(l - 25))';
	--_sap_ui_dt_Overlay_HighlightOutlineColor: var(--sapWarningBorderColor);
	--_sap_ui_dt_Overlay_BorderRadius: var(--sapButton_BorderCornerRadius);
	--_sap_ui_dt_Overlay_DropZoneBackgroundColor: ~'hsl(from var(--sapSuccessBorderColor) h s l / .3)';
	--_sap_ui_dt_Overlay_BoxShadowColor: ~'hsl(from var(--sapContent_ContrastShadowColor) h s l / .6)';
}

.sapUiDtOverlayFocusable {

	&:focus {

		&::before {
			border-radius: var(--_sap_ui_dt_Overlay_BorderRadius);
			outline: 0.125rem dotted var(--_sap_ui_dt_Overlay_FocusBorderColor);
			border: none;
			outline-offset: -0.25rem; /* 4px */
		}
	}
}

.sapUiDtOverlaySelected {
	box-shadow: none !important;

	&::after {
		border-radius: var(--_sap_ui_dt_Overlay_BorderRadius);
	}

	&.sapUiDtOverlayHover {

		&::after {
			border: 0.125rem solid var(--_sap_ui_dt_Overlay_SelectionOutlineColor); /* 2px */
			outline-offset: -0.25rem; /* 4px */
		}
	}
}

.sapUiDtOverlayTargetZone {

	&::after {
		border-radius: var(--_sap_ui_dt_Overlay_BorderRadius);
	}
}

.sapUiDtOverlayCutted {
	opacity: 0.7;

	&::after {
		border-radius: var(--_sap_ui_dt_Overlay_BorderRadius);
	}
}

.sapUiDtOverlayHighlighted:not(.sapUiDtOverlaySelected) {

	&::after {
		box-shadow: none;
		border-radius: var(--_sap_ui_dt_Overlay_BorderRadius);
	}
}

.sapUiDtOverlayHover {

	&::after {
		box-shadow: 0 0.25rem 2rem 0 var(--_sap_ui_dt_Overlay_BoxShadowColor), 0 0 0 0.125rem var(--_sap_ui_dt_Overlay_SelectionOutlineColor);
		outline: 0.125rem dotted var(--_sap_ui_dt_Overlay_SelectionOutlineColor); /* 2px */
		outline-offset: -0.125rem; /* 2px */
		border-radius: var(--_sap_ui_dt_Overlay_BorderRadius);
	}
}