/* =================================== */
/* CSS for control sap.m/ObjectMarker  */
/* Horizon theme                       */
/* =================================== */

@_sap_m_ObjectMarker_LinkShadowColor: none;

html.sap-desktop .sapMObjectMarker .sapMLnk:focus .sapUiIcon {
	color: var(--sapContent_ContrastTextColor);
}

.sapMObjectMarker {

	.sapMLnk {
		text-shadow: @_sap_m_ObjectMarker_LinkShadowColor;

		&:focus-visible {

			.sapUiIcon {
				color: var(--sapContent_ContrastTextColor);
			}
		}
	}
}

.sapMObjectMarker.sapMLnkLargeReactiveArea > .sapUiIcon {
	line-height: 1.5rem;
}

html.sap-desktop .sapMObjectMarkerActiveIconOnly:focus {
	outline: none;
	border-radius: 0.125rem;
	background-color: var(--sapContent_FocusColor);
	color: var(--sapContent_ContrastTextColor);
	text-shadow: none;
}

.sapMObjectMarkerActiveIconOnly:focus-visible {
	outline: none;
	border-radius: 0.125rem;
	background-color: var(--sapContent_FocusColor);
	color: var(--sapContent_ContrastTextColor);
	text-shadow: none;
}