/* ==================================== */
/* CSS for control sap.m/SliderTooltip  */
/* Horizon theme                        */
/* ==================================== */

.sapMSliderTooltip {
	background: var(--sapField_Focus_Background);
	border-radius: 0.0625rem;
	border: none;
	min-width: 2rem;
	padding: 0.25rem;
	font-size: var(--sapFontSmallSize);
	color: var(--sapContent_LabelColor);
}

.sapMSliderTooltipInput {
	font-size: @sapMFontMediumSize;
	color: var(--sapField_TextColor);
}

.sapMSliderTooltip:has(.sapMSliderTooltipInput:focus) {
	outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapField_Active_BorderColor);
	outline-offset: -0.0625rem;
}

.sapMSliderTooltip.sapMSliderTooltipErrorState:has(.sapMSliderTooltipInput:focus) {
	outline-color: var(--sapField_InvalidColor);	
}

.sapMSliderTooltip.sapMSliderTooltipNonEditableWrapper {
	height: 1rem;
	padding: 0.25rem;
	font-size: var(--sapFontSmallSize);
	color: var(--sapContent_LabelColor);
	background: var(--sapBackgroundColor);

		.sapMSliderTooltipInput {
			background: var(--sapBackgroundColor);
		}
}