/* =============================================== */
/* CSS for control sap.ui.rta/ChangeVisualization  */
/* Morning Horizon theme                           */
/* =============================================== */

@_sap_ui_rta_ChangeVisualization_OverlayOutlineColor: var(--sapLegendColor7); /* #0e4186 */
@_sap_ui_rta_ChangeVisualization_ChangeIndicatorColorDark: @sapUiLegend7; /* #0e4186 */

.sapUiDtOverlay {

	&.sapUiRtaChangeIndicatorDependent {
		border-radius: @_sap_ui_rta_ChangeVisualization_OverlayBorderRadius;
	}
}