/* ======================================= */
/* CSS for control sap.ui.rta/ContextMenu  */
/* Morning Horizon theme                   */
/* ======================================= */

@_sap_ui_rta_ContextMenu_BorderLightColor: var(--sapToolbar_Background); /* #fff */
@_sap_ui_rta_ContextMenu_BorderDarkColor: var(--sapLegendColor7);
@_sap_ui_rta_ContextMenu_BorderRadius: var(--sapPopover_BorderCornerRadius);

.sapUiRtaMode {

	.sapUiDtContextMenu {

		&.sapMMenu {
			border: 0.188rem dashed @_sap_ui_rta_ContextMenu_BorderDarkColor; /* 2px */
			border-image: none;
			border-radius: @_sap_ui_rta_ContextMenu_BorderRadius;
		}
	}
}