/* ====================================== */
/* CSS for control sap.ui.dt/ContextMenu  */
/* Evening Horizon theme                  */
/* ====================================== */

.sapUiDtContextMenu {
	--_sap_ui_dt_ContextMenu_BorderRadius: var(--sapField_BorderCornerRadius);
}

.sapUiDtContextMenu.sapMMenu {

	.sapMMenuList {

		.sapMMenuItem {
			border-radius: var(--_sap_ui_dt_ContextMenu_BorderRadius);

			&:focus {

				&.sapMMenuItemDisabled {
					outline: none;
				}
			}

			&.sapUiDtContextMenuControlTitle {
				&:focus {
					.sapMBtnInner {
						outline: 0.125rem solid var(--sapContent_FocusColor);
					}
				}
			}

			.sapUiDtContextMenuViewChanges.sapMBtn {
				&:hover{
					.sapMBtnIcon {
						color: var(--sapButton_Lite_Hover_TextColor)!important;
					}
				}
				.sapMBtnInner {
					border: none;
				}
			}
		}
	}
}